@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html {
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 2000000000rem;
}

p {
    color: white;
}
a {
    font-size: 1.01rem;
    color: white;
    text-decoration: none;
    font-weight: 410;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 510;
}
span {
    color: white;
}
.red-txt {
    color: #e8336d;
}

.start-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #1a1a1a;
}
