header {
    background-color: #1a1a1a;
}

a.button-h {
    font-weight: 300;
}
.div-header {
    z-index: 2;
    top: 0;
    background-color: #1a1a1a;
    padding-left: 20vw;
    padding-right: 20vw;
    position: fixed;
}
.header {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    padding-top: 1.7rem;
    padding-bottom: 2rem;
}

.header img {
    max-width: 11.5rem;
    max-height: 2.6rem;
    margin-right: 7rem;
}
.nav-links {
    margin-left: 2rem;
}


.nav-links ul {
    text-align: center;
    display: flex;
    text-wrap: nowrap;
    flex-direction: row wrap;
    justify-content: space-between;
    gap: 1.8rem;
    list-style: none;
}

.nav-links ul li a {
    transition: all ease-in-out 120ms;
}
.nav-links ul li a:hover {
    color: #f0346c;
    transition: all ease-in-out 120ms;
}

.button-header {
    margin-left: 3rem;
    display: flex;
    text-wrap: nowrap;
    justify-content: space-between;
    gap: 1.2rem;

}

a.link-lan:after {
    content: url(/assets/images/arrow-r.svg);
    position: absolute;
    padding-top: 0.20rem;
    padding-left: 0.3rem;
}

a.link-lan:hover:after {
    content: url(/assets/images/arrow-r2.svg);
    position: absolute;
    padding-top: 0.20rem;
    padding-left: 0.3rem;
}

a.button-h-1 {
    padding: 0.60rem 2.5rem 0.5rem 2.5rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: white solid 0.1rem;
    border-radius: 10rem;
    font-size: 0.85rem;
    font-weight: 420;
    transition: all 320ms ease-in-out;
    z-index: 1;
}

a.button-h-2 {
    padding: 0.60rem 0.8rem 0.5rem 0.8rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: white solid 0.1rem;
    border-radius: 10rem;
    font-size: 0.85rem;
    font-weight: 420;
    transition: all 320ms ease-in-out;
    z-index: 1;
}
a.button-h-1:before {
    content: '';
    position: absolute;
    background: #f0346c;
    border-radius: 10rem;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in-out;
}

a.button-h-2:before {
    content: '';
    position: absolute;
    background: #f0346c;
    border-radius: 10rem;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in-out;
}
a.button-h-1:hover:before,
a.button-h-1:focus:before {
    transform: scaleX(1);
    transition: transform 200ms ease-in-out;
}

a.button-h-1:hover,
a.button-h-1:focus {
    border: #f0346c solid 0.1rem;
    border-radius: 10rem;
    transition: all 100ms ease-in-out;
}

a.button-h-2:hover:before,
a.button-h-2:focus:before {
    transform: scaleX(1);
    transition: transform 200ms ease-in-out;
}

a.button-h-2:hover,
a.button-h-2:focus {
    border: #f0346c solid 0.1rem;
    border-radius: 10rem;
    transition: all 100ms ease-in-out;
}


.language {
    transform: scaleY(0);
    top: 5.75rem;
    display: flex;
    z-index: 100;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1.5rem 1.5rem 0 0;
}
.language ul li {
    flex-direction: column;
    display: flex;
    text-align: center;
    width: 100vw;
}
.language ul li a {
    padding: 1.3rem;
    text-align: center;
    white-space: nowrap;
    font-size: 0.8rem;
    color: #f0346c;
    background-color: white;
}
.language ul li:nth-child(1) a {
    border-radius: 2.2rem 2.2rem 0 0;
}

.language ul li:last-child a {
    border-radius: 0 0 2.2rem 2.2rem;
}
.language ul li a:hover {
    color: #ffff;
}
.language ul li a:hover {
    background-color: #f0346c;
}

.language ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.more-link-c {
    z-index: -1;
    display: none;
}

a.link-lan-more:after {
    content: url(/assets/images/arrow-r2.svg);
    position: absolute;
    margin-top: -0.1rem;
    padding-top: 0rem;
    padding-left: 0.3rem;
}

a.link-lan-more:hover:after {
    content: url(/assets/images/arrow-r.svg);
    position: absolute;
    margin-top: -0.1rem;
    padding-top: 0rem;
    padding-left: 0.3rem;
}
