.main-content {
    z-index: 1;
    padding-top: 6.9rem;
    padding-bottom: 1rem;
    background-color: #1a1a1a;
}

.background-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38rem;
}

.background-section video {
    padding-left: 6.8rem;
    padding-right: 6.8rem;
    position: center;
    background: cover;
    height: 37rem;
}

.content {
    top: 14.5rem;
    position: absolute;
}

.content span.agent-marketing {
    font-weight: 450;
    font-size: 1.4rem;
}

.text {
    display: flex;
    align-items: flex-start;
    line-height: 4.7rem;
    padding-right: 60vw;
    padding-top: 0.2rem;
    padding-bottom: 2.2rem;
}

.content h1 {
    font-size: 3.3rem;
}


/* Abaixo será a estilização da animação do botão e do próprio botão "Fale Conosco" */

.content .button-mc {
    background-color: #f0346c;
    color: white;
    border-radius: 10rem;
    border: none;
    width: 14rem;
    height: 3rem;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding-left: 2rem;
    text-align: left;
    cursor: pointer;
    position: relative;
    transition: all 120ms ease-in-out;
    z-index: 1;
}

.content .button-mc:before {
    content: '';
    position: absolute;
    background: white;
    border-radius: 10rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.content .button-mc:hover {
    color: #f0346c;
}
.content .button-mc:hover::before,
.content .button-mc:focus::before {
    opacity: 1;
}

.button-mc:after{
    content: url(/assets/images/arrow-d.svg);
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 2rem;
    transform: rotate(180deg);
    width: 2px;
    height: 2px;
}

.button-mc:hover:after{
    content: url(/assets/images/arrow-d2.svg);
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 2rem;
    transform: rotate(180deg);
    width: 2px;
    height: 2px;
}

/* Estilização finalizada :) */

@media (max-width: 1530px) {
    .main-content {
        z-index: 1;
        padding-top: 6.9rem;
        padding-bottom: 0rem;
        background-color: #1a1a1a;
    }
    .content {
        top: 14rem;
        margin-left: 2.4rem;
        position: absolute;
    }
    .content span.agent-marketing {
        font-weight: 450;
        font-size: 1.3rem;
    }
    
    .content h1 {
        font-size: 2.7rem;
    }
    
    .text {
        display: flex;
        align-items: flex-start;
        line-height: 4.1rem;
        padding-right: 60vw;
        padding-top: 0.2rem;
        padding-bottom: 2.2rem;
    }
    
    .background-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35rem;
    }
    
    .background-section video {
        padding-left: 7rem;
        padding-right: 7rem;
        position: center;
        background: cover;
        height: 30rem;
    }
}

@media (max-width: 1200px) {
    .main-content {
        z-index: 1;
        padding-top: 8rem;
        padding-bottom: 0rem;
        background-color: #1a1a1a;
    }
    .content {
        top: 12.7rem;
        left: 2.5vw;
        position: absolute;
    }
    .content span.agent-marketing {
        font-weight: 450;
        font-size: 1.3rem;
    }
    
    .content h1 {
        font-size: 2.7rem;
    }
    
    .text {
        display: flex;
        align-items: center;
        line-height: 4rem;
        padding-right: 55vw;
        padding-top: 0.2rem;
        padding-bottom: 2.2rem;
    }
    
    .background-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32rem;
    }
    
    .background-section video {
        padding-left: 7rem;
        padding-right: 7rem;
        position: center;
        background: cover;
        height: 28rem;
    }
}

@media (max-width: 1200px) {
    .main-content {
        z-index: 1;
        padding-top: 8rem;
        padding-bottom: 0rem;
        background-color: #1a1a1a;
    }
    .content {
        top: 14rem;
        left: 2.5vw;
        position: absolute;
    }
    .content span.agent-marketing {
        font-weight: 450;
        font-size: 1.3rem;
    }
    
    .content h1 {
        font-size: 2.7rem;
    }
    
    .text {
        display: flex;
        align-items: center;
        line-height: 4rem;
        padding-right: 30vw;
        padding-top: 0.2rem;
        padding-bottom: 2.2rem;
    }
    
    .background-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30rem;
    }
    
    .background-section video {
        /* width: 100%; */
        padding-left: 2rem;
        padding-right: 0rem;
        position: center;
        background: cover;
        height: 25rem;
    }
}