.cases-c {
    background-color: #1a1a1a;
    height: 13rem;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cases span {
    z-index: 1;
    position: absolute;
    right: 4rem;
    margin-top: -7.5rem;
    font-size: 12.3rem;
    color: #252525b0;
    font-family: "Montserrat", Sans-serif;
    font-weight: 900;
}

.cases-c .cases .content-cases {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    position: relative;
    z-index: 1;
    text-align: center;
}

.cases-c .cases p {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.8rem;
}


.cases .button-cases {
    background-color: #f0346c;
    color: white;
    border-radius: 10rem;
    border: none;
    width: 11.5rem;
    height: 3rem;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding-left: 2rem;
    text-align: left;
    cursor: pointer;
    position: relative;
    transition: all 120ms ease-in-out;
    z-index: 1;
}

.cases .button-cases:before {
    content: '';
    position: absolute;
    background: white;
    border-radius: 10rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.cases .button-cases:hover {
    color: #f0346c;
}
.cases .button-cases:hover::before,
.cases .button-cases:focus::before {
    opacity: 1;
}

.button-cases:after{
    content: url(/assets/images/arrow-d.svg);
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 2rem;
    transform: rotate(180deg);
    width: 2px;
    height: 2px;
}

.button-cases:hover:after{
    content: url(/assets/images/arrow-d2.svg);
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 2rem;
    transform: rotate(180deg);
    width: 2px;
    height: 2px;
}
