@media (max-width: 1530px) {
    .div-header {
        z-index: 2;
        top: 0;
        background-color: #1a1a1a;
        position: fixed;
    }
    .header {
        display: flex;
        align-items: center;
        gap: 3vw;
        padding-top: 1.7rem;
        padding-bottom: 2rem;
    }
    
    .header img {
        max-width: 11.3rem;
        max-height: 2.3rem;
        margin-right: 0rem;
    }
    
    .nav-links {
        margin-left: 1rem;
    }
    
    .button-header {
        margin-left: 0.5rem;
        display: flex;
        text-wrap: nowrap;
        justify-content: space-between;
        gap: 1.2rem;
        
    }
    
    .header a {
        font-size: 0.8rem;
    }
}

@media (max-width: 1200px) {
    .div-header {
        z-index: 2;
        top: 0;
        background-color: #1a1a1a;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        position: fixed;
    }
    .header {
        padding: 100vw;
        display: flex;
        align-items: center;
        padding-top: 1.7rem;
        padding-bottom: 2rem;
    }
    
    .header img {
        margin-top: 0.6rem;
        margin-right: -2rem;
        max-width: 9.5vw;
        max-height: 2rem;
    }
    
    .div-links {
        display: flex;
        flex-grow: 2;
    }
    .nav-links {
        margin-left: 0;
        padding-left: 0;
    }
    .nav-links ul {
        width: 50vw;
        text-align: center;
        display: flex;
        text-wrap: nowrap;
        flex-direction: row wrap;
        justify-content: center;
        gap: 0.8rem;
        list-style: none;
    }
    
    .button-header {
        margin-left: 0rem;
        display: flex;
        text-wrap: nowrap;
        justify-content: space-between;
        gap: 1.2rem;
        
    }
    
    .header a {
        font-size: 0.8rem;
    }
}

@media (max-width: 1024px) {
    .button-header {
        display: none;
    }
    .div-header {
        top: 0;
        position: fixed;
        padding-bottom: 0;
    }
    .header {
        gap: 0;
        padding-top: 0.9rem;
        padding-bottom: 1.3rem;
    }
    .header img {
        max-width: 22vw;
        max-height: 5rem;
    }
    .header ul {
        width: 70vw;
        align-items: flex-end;
        justify-content: flex-end;
        text-align: flex-end;
        flex-flow: nowrap;
        gap: 1.2rem;
    }
}

@media (max-width: 767px) {
    .nav-links {
        display: none;
    }
    .header img {
        margin-top: 0rem;
        max-width: 42vw;
        max-height: 5rem;
    }
    .header {
        align-items: center;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }
    .header .more-link-c {
        width: 50vw;
        display: flex;
        margin-right: 2rem;
        align-items: flex-end;
        justify-content: flex-end;
        cursor: pointer;
    }

    .more-link-c {
        z-index: 100;
        display: auto;
    }

    
    #more-menu.language {
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 250ms ease-in-out;
    }
    #more-menu.active {
        transform: scaleY(1);
        transform-origin: top;
        transition: transform 250ms ease-in-out;
    }
    #more-menu:not(.active) {
        transition: transform 250ms ease-in-out, visibility 0s 250ms;
    }
}