.header img {
    max-width: 11.5rem;
    max-height: auto;
}
body {
    background-color: black;
}
header {
    background-color: #1a1a1a;
}

a {
    font-size: 1.01rem;
    color: white;
    text-decoration: none;
    font-weight: 410;
}

a.button-h {
    font-weight: 300;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 14.6rem 2rem 14.6rem;
}

.nav-links {
    display: flex;
    padding-left: 7.5rem;
}
ul {
    text-align: center;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    gap: 1.8rem;
    list-style: none;
}

.button-header {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
}

a.button-h-1 {
    text-align: center;
    padding: 0.60rem 2.5rem 0.5rem 2.5rem;
    border: white solid 0.1rem;
    border-radius: 10rem;
    font-size: 0.85rem;
    font-weight: 420;
}

a.button-h-2 {
    text-align: center;
    padding: 0.60rem 0.8rem 0.5rem 0.8rem;
    border: white solid 0.1rem;
    border-radius: 10rem;
    font-size: 0.85rem;
    font-weight: 420;
}

.button-h-1:hover,
.button-h-2:hover {
    border: #f0346c solid 0.1rem;
    border-radius: 10rem;
    transition: all ease-in-out 100ms;
    background-color: #f0346c;
}

.nav-links ul li a:hover {
    color: #f0346c;
    transition: all ease-in-out 100ms;
}
.main-content {
    background-color: #1a1a1a;
    padding: 0 14.6rem 0 14.6rem;
}

.background-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38rem;
}

.background-section video {
    position: center;
    background: cover;
    height: 37rem;
}

.content {
    top: 25.5vh;
    position: absolute;
}

.content span.agent-marketing {
    font-weight: 450;
    font-size: 1.4rem;
}

.text {
    display: flex;
    align-items: flex-start;
    line-height: 4.65rem;
    padding-right: 70rem;
    padding-top: 0.2rem;
    padding-bottom: 2.2rem;
}

.content h1 {
    font-size: 3.3rem;
}