body {
    background-color: black;
}
header {
    background-color: #1a1a1a;
}

a {
    font-size: 1.01rem;
    color: white;
    text-decoration: none;
    font-weight: 410;
}

.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a.button-h {
    font-weight: 300;
}
.div-header {
    top: 0;
    position: fixed;
}
.header {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    padding-top: 1.7rem;
    padding-bottom: 2rem;
}

.header img {
    max-width: 11.5rem;
    max-height: 2.6rem;
    margin-right: 7rem;
}
.nav-links {
    margin-left: 2rem;
}

.button-header {
    margin-left: 3rem;
    display: flex;
    text-wrap: nowrap;
    justify-content: space-between;
    gap: 1.2rem;
}
ul {
    text-align: center;
    display: flex;
    text-wrap: nowrap;
    flex-direction: row wrap;
    justify-content: space-between;
    gap: 1.8rem;
    list-style: none;
}


a.button-h-1 {
    text-align: center;
    padding: 0.60rem 2.5rem 0.5rem 2.5rem;
    border: white solid 0.1rem;
    border-radius: 10rem;
    font-size: 0.85rem;
    font-weight: 420;
}

a.button-h-2 {
    text-align: center;
    padding: 0.60rem 0.8rem 0.5rem 0.8rem;
    border: white solid 0.1rem;
    border-radius: 10rem;
    font-size: 0.85rem;
    font-weight: 420;
}

.button-h-1:hover,
.button-h-2:hover {
    border: #f0346c solid 0.1rem;
    border-radius: 10rem;
    transition: all ease-in-out 100ms;
    background-color: #f0346c;
}

.nav-links ul li a:hover {
    color: #f0346c;
    transition: all ease-in-out 100ms;
}
.main-content {
    padding-top: 6.9rem;
    background-color: #1a1a1a;
}

.background-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38rem;
}

.background-section video {
    padding-left: 6.8rem;
    padding-right: 6.8rem;
    position: center;
    background: cover;
    height: 37rem;
}

.content {
    top: 14.5rem;
    position: absolute;
}

.content span.agent-marketing {
    font-weight: 450;
    font-size: 1.4rem;
}

.text {
    display: flex;
    align-items: flex-start;
    line-height: 4.7rem;
    padding-right: 60rem;
    padding-top: 0.2rem;
    padding-bottom: 2.2rem;
}

.content h1 {
    font-size: 3.3rem;
}


/* Abaixo será a estilização da animação do botão e do próprio botão "Fale Conosco" */

.content .button-mc {
    background-color: #f0346c;
    color: white;
    border-radius: 10rem;
    border: none;
    width: 14rem;
    height: 3rem;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding-left: 2rem;
    text-align: left;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.content .button-mc:before {
    content: '';
    position: absolute;
    background: white;
    border-radius: 10rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.content .button-mc:hover {
    color: #f0346c;
}
.content .button-mc:hover::before,
.content .button-mc:focus::before {
    opacity: 1;
}

.button-mc:after{
    content: url(/assets/images/arrow-d.svg);
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 2rem;
    transform: rotate(180deg);
    width: 2px;
    height: 2px;
    /* font-size: 1rem;
    transform: scaleX(2); */
}
/* Estilização finalizada :) */
  
